version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - api
      - admin_panel
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    expose:
      - "8000"
    environment:
      - OPENAI_API_KEY=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
      - JWT_SECRET_KEY=%#$#&@#@2525
      - DEEPGRAM_API_KEY=852e1c4d4bd0e312338580897df7168ff6c738e3
      - GOOGLE_APPLICATION_CREDENTIALS=creds.json
    volumes:
      - ./api:/var/task/api
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload

  admin_panel:
    build:
      context: ./admin_panel
      dockerfile: Dockerfile
    restart: always
    environment:
      - API_URL=http://52.60.200.129
      - WS_URL=ws://52.60.200.129/api/v1/voice-ai/media-stream
    expose:
      - "8501"
    volumes:
      - ./admin_panel:/usr/src/app
